.dashboard a i {
  cursor: pointer;
}
.dashboard i.drag {
  cursor: move !important;
}
.dashboard .slice-grid .preview-holder {
  z-index: 1;
  position: absolute;
  background-color: #FFF;
  border-color: #AAA;
  opacity: 0.3;
}
div.widget .chart-controls {
  background-clip: content-box;
  position: absolute;
  z-index: 100;
  right: 0;
  left: 0;
  top: 5px;
  /*padding: 5px 5px;*/
  padding: 19px 20px 15px;
  opacity: 0.75;
  display: none;
}
.slice-grid div.widget {
  border-radius: 0;
  border: 0px;
  box-shadow: none;
  background-color: #fff;
  overflow: visible;
}

.dashboard .slice-grid .dragging,
.dashboard .slice-grid .resizing {
  opacity: 0.5;
}
.dashboard img.loading {
  width: 20px;
  margin: 5px;
  position: absolute;
}

.dashboard .slice_title {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
}
.dashboard div.slice_content {
  width: 100%;
  height: 100%;
}

.modal img.loading {
  width: 50px;
  margin: 0;
  position: relative;
}

.react-bs-container-body {
  max-height: 400px;
  overflow-y: auto;
}

.hidden, #pageDropDown {
  display: none;
}

.slice-grid div.separator.widget {
 border: 1px solid transparent;
  box-shadow: none;
  z-index: 1;
}
.slice-grid div.separator.widget:hover {
  border: 1px solid #EEE;
}
.slice-grid div.separator.widget .chart-header {
  background-color: transparent;
  color: transparent;
}
.slice-grid div.separator.widget h1,h2,h3,h4 {
  margin-top: 0px;
}

.slice-cell {
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0);
  transition: box-shadow 1s ease-in;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif,"SimSun"
}

.slice-cell-highlight {
  min-height: 54px;
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
}

.dashboard .separator.widget .slice_container {
  padding: 0px;
  overflow: visible;
}
.dashboard .separator.widget .slice_container hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.separator .chart-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.dashboard .title {
  margin: 0 20px;
}

.dashboard .title .favstar {
  font-size: 20px;
}

.chart-header .header {
  font-size: 16px;
  /*color:#32c5d2;*/
  min-height: 48px;
  padding: 12px 20px 15px;
}
.chart-header .header-0{
  color: #32c5d2;
}

.chart-header .header-1{
  color: #E26A6A;
}

.chart-header .header-2{
  color: #3598dc;
}

.chart-header .header-3{
  color: #8E44AD;
}

.chart-header .header-4{
  color: #c49f47;
}

.chart-header .header-5{
  color: #2ab4c0;
}
.ace_gutter {
    z-index: 0;
}
.ace_content {
    z-index: 0;
}
.ace_scrollbar {
    z-index: 0;
}
.slice_container .alert {
    margin: 10px;
}

.chart-header .slice-title{
  font-weight: 500;
}

.chart-header .slice-subtitle{
  font-size: 12px; 
  color: #9eacb4;
  font-weight: 400;
}

.gridster div.widget {
    transition: background-color 0.5s ease;
    background-color: #FFF;
    border: 1px solid #e7ecf1;
    box-shadow: none;
    border-radius: 0px;
}
div.widget .chart-header{
  border-bottom: 1px solid #eef1f5;
}

.navbar{
  background-color: white
}

.chart-header .header span{
  margin: 3px;
}

.hand-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 6px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none;
  outline: 0
}

.hand-btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.hand-btn-circle {
  border-radius: 25px!important;
}

.hand-btn-icon-only {
  height: 34px;
  width: 34px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.hand-dropdown-menu {
  box-shadow: 5px 5px rgba(102,102,102,.1);
  left: 0;
  min-width: 175px;
  position: absolute;
  z-index: 1000;
  display: none;
  float: left;
  list-style: none;
  padding: 0;
  background-color: #fff;
  margin: 10px 0 0;
  border: 1px solid #eee;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}