/* $Id:  $ */
/* balade_nature */

@font-face {
  font-family: MinyaNouvelle;
  font-weight: normal;
  font-style: normal;
  src: url("../Fonts/MinyaNouvelle.otf") format("opentype");
}

@font-face {
  font-family: TimesNewRomanPSMT;
  src: url("../Fonts/TimesNewRomanPSMT.otf") format("opentype");
}

@font-face {
  font-family: TriplexLight;
  src: url("../Fonts/TriplexLight.otf") format("opentype");
}

