#params-block {
  margin-left: 15px;
  margin-right: 15px; }
  #params-block #params-heading {
    padding: 10px 15px;
    background-color: #6d7178;
    color: #fff;
    font-weight: bold;
    cursor: default; }
  #params-block #params-form {
    padding: 13px 15px; }
