/* line 18, motty/app/static/styles/main.scss */
body {
  font-size: 16px;
  background: #F3F5F8;
  color: #4D5561; }

/* line 25, motty/app/static/styles/main.scss */
header {
  background: #337AF6;
  height: 60px;
  box-shadow: 0 2px 4px #EDEFF2; }
  /* line 30, motty/app/static/styles/main.scss */
  header .container {
    text-align: center; }
    /* line 32, motty/app/static/styles/main.scss */
    header .container #logo {
      margin-top: 10px;
      width: 40px;
      height: 40px; }

/* line 41, motty/app/static/styles/main.scss */
#body .tools {
  margin-top: 30px; }
  /* line 43, motty/app/static/styles/main.scss */
  #body .tools .btn {
    display: inline-block;
    padding: 7px 10px;
    border-radius: 3px;
    font-size: 14px;
    margin-left: 10px; }
    /* line 50, motty/app/static/styles/main.scss */
    #body .tools .btn i {
      margin-right: 4px; }
    /* line 53, motty/app/static/styles/main.scss */
    #body .tools .btn.btn-light {
      box-shadow: 0 1px 8px #D9DDE2; }
    /* line 56, motty/app/static/styles/main.scss */
    #body .tools .btn.btn-danger {
      box-shadow: 0 1px 8px #dc3545; }
  /* line 61, motty/app/static/styles/main.scss */
  #body .tools #new-button {
    display: inline-block;
    padding: 7px 10px;
    box-shadow: 0 1px 8px #2D6BD7;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    border: none; }
    /* line 71, motty/app/static/styles/main.scss */
    #body .tools #new-button img {
      position: relative;
      top: -1px;
      width: 10px;
      height: 10px;
      margin-right: 4px; }
  /* line 80, motty/app/static/styles/main.scss */
  #body .tools #total-responses {
    padding-top: 10px;
    font-size: 12px;
    color: #A6A9AE; }

/* line 86, motty/app/static/styles/main.scss */
#body .responses {
  margin-top: 30px; }
  /* line 89, motty/app/static/styles/main.scss */
  #body .responses .response-item {
    display: block;
    background: #fff;
    box-shadow: 0 1px 5px #E0E2EA;
    color: #4D5561;
    padding: 7px; }
    /* line 96, motty/app/static/styles/main.scss */
    #body .responses .response-item:hover {
      text-decoration: none;
      background: #F6F7F8; }
    @media (min-width: 768px) {
      /* line 89, motty/app/static/styles/main.scss */
      #body .responses .response-item {
        margin-bottom: 30px; } }
    /* line 103, motty/app/static/styles/main.scss */
    #body .responses .response-item .response-header {
      padding-left: 8px; }
      /* line 105, motty/app/static/styles/main.scss */
      #body .responses .response-item .response-header h4 {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        padding: 0; }
    /* line 113, motty/app/static/styles/main.scss */
    #body .responses .response-item div.url {
      padding-left: 8px;
      color: #337AF6;
      font-size: 14px; }

/* line 121, motty/app/static/styles/main.scss */
#body #when-no-data {
  height: 400px;
  text-align: center; }
  /* line 124, motty/app/static/styles/main.scss */
  #body #when-no-data #guide-image {
    position: absolute;
    right: -10px;
    top: -25px;
    width: 269px;
    height: 106px; }
  /* line 131, motty/app/static/styles/main.scss */
  #body #when-no-data #no-data-image {
    margin-top: 130px;
    width: 384px;
    height: 248px; }

/* line 140, motty/app/static/styles/main.scss */
footer .container {
  padding: 10px 0 60px 0;
  text-align: center;
  font-size: 12px; }
  /* line 144, motty/app/static/styles/main.scss */
  footer .container #whoiam {
    color: #b5bbc5; }
    /* line 146, motty/app/static/styles/main.scss */
    footer .container #whoiam a {
      color: #b5bbc5; }
      /* line 148, motty/app/static/styles/main.scss */
      footer .container #whoiam a img {
        width: 20px;
        height: 16px; }

/* line 157, motty/app/static/styles/main.scss */
#create-action-form {
  padding-top: 20px; }
  /* line 159, motty/app/static/styles/main.scss */
  #create-action-form button {
    cursor: pointer; }
  /* line 162, motty/app/static/styles/main.scss */
  #create-action-form .form-label {
    color: #99a1ae;
    font-weight: 400; }
  /* line 166, motty/app/static/styles/main.scss */
  #create-action-form input[type=text].form-control {
    border: none;
    border-bottom: 1px solid #d2d6db;
    border-radius: 0; }

/* line 173, motty/app/static/styles/main.scss */
#view-action-dialog {
  margin-top: 8px;
  padding: 0 15px; }
  /* line 177, motty/app/static/styles/main.scss */
  #view-action-dialog .view-header span.method-label {
    font-size: 14px;
    padding: 3px 8px;
    height: 30px; }
  /* line 183, motty/app/static/styles/main.scss */
  #view-action-dialog .view-name {
    margin-top: 12px; }
    /* line 185, motty/app/static/styles/main.scss */
    #view-action-dialog .view-name h4 {
      display: inline-block;
      font-size: 20px;
      color: #4D5561; }
    /* line 190, motty/app/static/styles/main.scss */
    #view-action-dialog .view-name span.url {
      font-size: 14px;
      color: #7d8797;
      margin-left: 10px; }
    /* line 195, motty/app/static/styles/main.scss */
    #view-action-dialog .view-name .btn {
      display: inline-block;
      margin-left: 10px;
      margin-top: -1px;
      font-size: 12px;
      height: 30px; }
      /* line 201, motty/app/static/styles/main.scss */
      #view-action-dialog .view-name .btn:focus {
        box-shadow: none; }
      /* line 204, motty/app/static/styles/main.scss */
      #view-action-dialog .view-name .btn i {
        margin-right: 7px; }
  /* line 209, motty/app/static/styles/main.scss */
  #view-action-dialog .view-body {
    margin-top: 20px; }
    /* line 211, motty/app/static/styles/main.scss */
    #view-action-dialog .view-body span.content-type {
      display: inline-block;
      padding: 2px 10px 3px 10px;
      background: #ECEEF1;
      color: #878E95;
      font-size: 14px; }
  /* line 220, motty/app/static/styles/main.scss */
  #view-action-dialog .content pre {
    width: 100%;
    background: #f8f8f8;
    margin: 0px; }
  /* line 226, motty/app/static/styles/main.scss */
  #view-action-dialog .alert-info {
    font-size: 14px;
    padding: 5px 10px; }

/* components */
/* line 233, motty/app/static/styles/main.scss */
.btn {
  cursor: pointer; }

/* line 237, motty/app/static/styles/main.scss */
.method-label {
  display: inline-block;
  font-size: 11px;
  padding: 2px 5px;
  margin: 0;
  border-radius: 3px;
  text-align: center; }
  /* line 245, motty/app/static/styles/main.scss */
  .method-label.method-label-get {
    color: #5D985D;
    background: #DBF1DD; }
  /* line 250, motty/app/static/styles/main.scss */
  .method-label.method-label-post {
    color: #98985D;
    background: #F0F1DB; }
  /* line 255, motty/app/static/styles/main.scss */
  .method-label.method-label-put {
    color: #5D7E98;
    background: #DBE8F1; }
  /* line 260, motty/app/static/styles/main.scss */
  .method-label.method-label-delete {
    color: #985D5D;
    background: #F1DBDB; }

/* line 266, motty/app/static/styles/main.scss */
.select2-container {
  display: block; }
  /* line 268, motty/app/static/styles/main.scss */
  .select2-container.select2-container--focus .select2-selection--single {
    background: #F3F5F8;
    outline: none; }
  /* line 272, motty/app/static/styles/main.scss */
  .select2-container .select2-selection--single {
    padding: 3px 5px 3px 5px;
    border-radius: 0px;
    border: none;
    height: auto; }
    /* line 277, motty/app/static/styles/main.scss */
    .select2-container .select2-selection--single:hover {
      background: #F3F5F8; }
    /* line 280, motty/app/static/styles/main.scss */
    .select2-container .select2-selection--single .select2-selection__rendered {
      color: #7d8797; }
    /* line 283, motty/app/static/styles/main.scss */
    .select2-container .select2-selection--single .select2-selection__arrow {
      top: 5px;
      right: 6px; }
  /* line 288, motty/app/static/styles/main.scss */
  .select2-container .select2-dropdown {
    border: 1px solid #d2d6db;
    box-shadow: 0 1px 5px #E0E2EA; }
    /* line 291, motty/app/static/styles/main.scss */
    .select2-container .select2-dropdown .select2-results__option--highlighted[aria-selected] {
      color: #99a1ae;
      background: #E2E8F2; }
    /* line 295, motty/app/static/styles/main.scss */
    .select2-container .select2-dropdown .select2-results__option[aria-selected=true] {
      background: #F3F5F8; }
      /* line 297, motty/app/static/styles/main.scss */
      .select2-container .select2-dropdown .select2-results__option[aria-selected=true]:hover {
        color: #4D5561; }

/* line 304, motty/app/static/styles/main.scss */
.ngdialog.ngdialog-theme-default .ngdialog-content {
  background: #fff; }
