/* Font face & icon */

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/Open_Sans/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'lovelo';
  src: url('fonts/lovelo/Lovelo-Black.otf') format('truetype');
  font-weight: 100;
}

html {font-size: 100%;}

body {
  font-family: 'OpenSans';
  font-size: 0.9em;
}

a, a:visited, a:hover, a:focus {
  text-decoration: none;
}

hr {
  border-top: 1px solid #dedede;
}


/* nav bar */

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #fff;
  border: none;
  border-color: #fff
}


.header-sherpa {
  background-color: #ffffff;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 1.2em 0;
  border-color: #0d4e96;
  margin-bottom: 0;
}
.header-sherpa .logoSHERPA {
  overflow: auto;
}

.header-sherpa .logoSHERPA img{
  display: block;
  height: 7em;
  padding: 10px;
  float: right;
}

.header-sherpa .logoSIAF {
  margin: auto;
  display: block;
  height: 8em;
  margin-top: 1em;
}

.header-sherpa a {
  display: block;
  color: #777777;
}

.sherpa-navbar {
  background-color: #0b6ba8;
}

.sherpa-navbar li+li {
  margin: 0;
}

.sherpa-navbar li>a {
  padding: 0 1em 0 1em;
}

.sherpa-navbar li>a {
  color: white;
}

.sherpa-navbar li:hover,
.sherpa-navbar li>a:hover {
  cursor: pointer;
}

.sherpa-navbar li.active,
.sherpa-navbar li:hover {
  background-color: #0d4e96;
}

.sherpa-navbar li.active a {
  background-color: transparent;
  font-weight: bold;
}

.sherpa-navbar li:hover>a,
.sherpa-navbar li>a:focus,
.sherpa-navbar li>a:active,
.sherpa-navbar li>a:visited {
  background-color: transparent;
}

.header-sherpa h1 {
  margin-bottom: 0px;
  width: 100%;
  color: #626262;
  font-size: 1em;
  font-style: italic;
  padding-bottom: 1em;
  text-align: right;
}

.header-sherpa #search_box input {
  border-radius: 0;
}


/* aside */
#aside-main-left {
  margin-top : 3em;
}

#aside-main-left .panel-heading,
#aside-main-left .facetTitle,
.rsetbox .panel-heading {
  border-radius: 0;
  color: white;
  border: 0;
  box-shadow: 0;
}

#aside-main-left .panel-heading {
  background-color: #0d4e96;
  font-size: 1.2em;
}

#aside-main-left .panel-default {
  border: 0;
}

#aside-main-left .panel-body {
  padding: 0;
  padding-top: 1.5em;
  background-color: #f6f6f6;
  padding: 1em 0.8em 0.8em 1em;
  border-bottom: 1px solid #dedede;
}

.rsetbox {
  border-radius: 0;
}

#aside-main-left .panel-heading > .panel-title {
  font-weight: bold;
}

#aside-main-left .facetTitle {
  font-weight: lighter;
  color: #333;
  margin-top: 0.5em;
}

#aside-main-left .facetBody {
  padding: 0;
  border: 0;
}

#aside-main-left .panel-body > .panel-title {
  color: white;
  font-weight: bold;
}

#aside-main-left .panel {
  border-radius: 0;
}

/* main content */

#contentmain h1{
  margin-top: 1em;
  text-align: center;
  color: #0d4e96;
  padding-bottom: 1.5em;
  padding-top: 0.5em;
  font-size: 2em;
  line-height: 1.1;
  font-weight: bold;
}

#contentmain h2 {
  color: #0d4e96;
  margin: auto;
  display: block;
  font-size: 1.6em;
  text-align: left;
  margin-bottom: 1em;
  margin-top: 2em;
  font-family: 'lovelo';
  font-weight: bold;
}

#contentmain .list-striped {
  padding-left: 0;
}

#contentmain .list-striped > li > a {
  padding : 0.4em 0 0.4em 0;
  display: block;
  width: 50%;
}

#contentmain .list-striped li {
  border-bottom: 1px solid #dbdbdb;
  background-color: white;
  overflow: auto;
}

#contentmain .list-striped li:hover {
  border-bottom: 1px solid #0d4e96;
  background-color: #e2f0ff;
}


#contentmain .panel-default {
  border: 0;
}

#contentmain .panel-heading {
  background-color: #0d4e96;
  font-size: 1.2em;
  border-radius: 0;
  color: white;
  border: 0;
}

#contentmain .panel-body {
  padding: 0;
  padding-top: 1.5em;
  background-color: #f6f6f6;
  padding: 1em 0.8em 0.8em 1em;
  border-bottom: 1px solid #dedede;
}



#contentmain .panel-heading a {
  color: white;
  padding : 0.4em 0 0.4em 0;
  display: block;
}

#anchors-wrapper {
  text-align: center;
  margin: 6em 0;
}

#anchors-wrapper .anchor-part {
  color: #777;
}


#anchors-wrapper > div:first-child {
  border-left: transparent;
}

#anchors-wrapper > div {
  border-right: transparent;
}

#anchors-wrapper a {
  border-radius: 0;
  font-size: 1.6em;
  padding-top: 3em;
  padding-bottom: 3em;
  border: none;
  text-align: center;
  color: #0d4e96;
  font-family: 'Lovelo';
  white-space: normal;
}

#anchors-wrapper div:hover,
#anchors-wrapper div:hover > a{
  background-color: #f6f6f6;
  cursor: pointer;
}

#anchors-wrapper div >a:hover{
  background-color: transparent;
}


#buttons-wrapper,
#actions-buttons-wrapper {
  text-align: center;
  margin: 4em 0 4em 0;
}

#buttons-wrapper a {
  color: #fff;
  background-color: #0d4e96;
  border-color: #ccc;
  padding: 1em 2em 1em 2em;
  border-radius: 0;
  font-weight: bold;
  font-size: 0.9em;
}

#buttons-wrapper a:hover {
  background-color: #0b6ba8;
}

#actions-buttons-wrapper a {
  color: #0d4e96;
  border-color: #ccc;
  padding: 1em 2em 1em 2em;
  border-radius: 0;
  font-weight: bold;
  font-size: 0.9em;
  width: 100%;
  margin-top: 1em;
  white-space: inherit;
}

#actions-buttons-wrapper a:hover {
  background-color: #0b6ba8;
  color: white;
}

/* table */

table { font-size: 1em;}

.cw-table-primary-entity th {
  color: #333;
}

#seda_at_data_objects_tab h2 {
  color: #5f5f5f;
  margin: auto;
  font-size: 1em;
  text-align: left;
  font-weight: bold;
}

#contentmain tr {
  border-bottom: 1px solid #dbdbdb;
}


/* tabs */

#contentmain .nav-tabs li.active a {
  border-bottom: 2px solid #0d4e96;
  font-weight: bold;
  background-color: #e2f0ff;
}

#contentmain .nav-tabs li a {
  color: #333;
  padding-right: 2em;
  padding-left: 2em;
  border: 2px solid #fff;
  border-radius: 0;
  margin-bottom: 1px;
}

#contentmain .nav-tabs li:hover a {
  border-bottom: 2px solid #0d4e96;
  background-color: #fff;
}

#contentmain p {
  line-height: 2em;
  padding-bottom: 0;
}

#contentmain li {
  line-height: 2em;
  text-align: justify;
}

/* home page */

#contentmain .emphasis {
  font-weight: bold;
  color: #000;
}

#contentmain #presentation,
#contentmain #seda {
  padding-bottom: 3.5em;
}

#contentmain #presentation p {
  text-align: center;
}

#contentmain #projetSherpa {
  padding-bottom: 3.5em;
}

#contentmain #accueil h2 {
  margin: auto;
  display: block;
  font-size: 2em;
  color: #0d4e96;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 2em;
  font-family: 'lovelo';
}


#contentmain #utilisation h3{
  color: #0d4e96;
  text-transform: uppercase;
  margin-top: 2em;
}

#contentmain #utilisation h3::after {
  content: "";
  display: block;
  width: 108px;
  height: 3px;
  background-color: #0d4e96;
  margin: 0.6em 0;
}

#accueil section {
  overflow: auto;
}

#accueil li>span.text-muted {
  float : right;
  width: 45%;
  text-align: right;
}

#accueil li {
  line-height: 1em;
}

#accueil .list-striped > li > a{
  display: inline-block;
  padding: 0;
}

#contentmain p {
  text-align: justify;
}

#contentmain .utilisation h4 {
  color: #0d4e96;
  margin-top: 1.1em;
}


.iconWrapper{
  text-align: center;
}

.icon-section {
  font-size: 40px;
}

.underline {
  position: relative;
  bottom: 7px;
  display: inline-block;
  z-index: 1;
  width: 5em;
  height: 1px;
  background: #626262;
}

.losange {
  height: 1em;
  width: 1em;
  display: inline-block;
  background: #0d4e96;
  -ms-transform: rotate(45deg); /* Internet Explorer */
  -moz-transform: rotate(45deg); /* Firefox */
  -webkit-transform: rotate(45deg); /* Safari et Chrome */
  -o-transform: rotate(45deg); /* Opera */
}

.mr {
  margin-right: 20px;
}

.ml {
  margin-left: 20px;
}

.titleUnderline {
  text-align: center;
  margin-bottom: 1.5em;
}


/* project page */

#sherpa-project-page .column-wrap {
    overflow: hidden;
}

#sherpa-project-page > div {
  margin-bottom: 2em;
}

#sherpa-project-page .vcenter {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

#sherpa-project-page img {
  max-height: 100px;
}

#project .project-image,
#sherpa-project-page .project-image {
  display: block;
  max-height: 350px;
  margin: auto;
  padding: 1em;
}

#sherpa-project-page h2 {
  margin-top: auto;
  text-align: left;
}

#sherpa-project-page .img-bottom {
  margin: 1em 0 2em 0;
  margin-top: 5em;
}

#sherpa-project-page .img-bottom img {
  max-height: 300px;
}

#sherpa-project-page .exemple-image {
  float: left;
  height: 3em;
  padding-right: 1em;
}

/* utilisation */

#utilisation .font-openSans {
  font-family: 'OpenSans';
}


#utilisation .form:first-child {
  border-right: 1px solid grey;
}

#utilisation .form > p {
  padding-left: 2em;
  padding-bottom: 2em;
}

/* seda static page */

#sherpa-seda-page .seda-img {
  margin: auto;
  max-height: 300px;
}


/* footer */

#pagefooter {
  background-color: #0d4e96;
  font-size: 1.2em;
  color: #fff;
  overflow: hidden;
}

#pagefooter a{
  color: #fff;
}

#pagefooter h3 {
  text-align: left;
  font-family: 'lovelo';
  display: inline-block;
  padding-right: 2em;
}
#pagefooter .links {
  overflow: hidden;
  display: inline-block;
}

#pagefooter .links > div {
  padding-left: 2em;
}

#pagefooter .links a {
  text-align: left;
  line-height: 2em;
  padding: 0 1em 0 1em;
  border-right: 1px solid white;
}

#pagefooter a:hover {
  text-decoration: underline;;
  cursor: pointer;
}

#pagefooter #sherpa-resources {
  float: left;
  padding-right: 4em;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

#pagefooter  #footer-links {
  margin-top: 1em;
  padding: 1em 0 1em 0;
  border-top: 1px solid white;
}

#pagefooter  #footer-links span {
  padding: 0 1em 0 1em;
}


footer {
  padding-bottom: 2em;
}
/*media queries */

.page-content {
    padding-left: 5px;
}

@media (min-width: 990px) {
  .page-content {
    padding : 0 5em 0 5em;
  }
}

@media(min-width: 760px){
  #pagefooter #sherpa-navigation {
    float: left;
    margin-top: auto;
  }

  #anchors-wrapper > div:first-child {
    border-left: 1px solid #777;
  }

  #anchors-wrapper > div {
    border-right: 1px solid #777;
  }
}

/* XXX remove me once seda > 0.6.1 is released */
.cw-table-primary-entity td {
  width: 67%;
}
