.select2-highlighted > .filter_box {
    background-color: transparent;
    border: 1px superset black;
}

.dashboard .filter_box .slice_container > div:not(.alert) {
    padding-top: 0;
}

.input-inline {
    float: left;
    display: inline-block;
    padding-right: 3px;
}

ul.select2-results li.select2-highlighted div.filter_box{
    color: black;
    border-width: 1px;
    border-style: solid;
    border-color: #666;
}

ul.select2-results div.filter_box{
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}
span.ant-select-arrow > b {
    display: none;
}
.filter_box.slice_container {
    overflow: visible !important;
}
.filter_box:hover {
    z-index: 1000;
}
.filter_box_tree.slice_container {
    overflow: visible !important;
}
.filter_box_combination.slice_container {
    overflow: visible !important;
}
.widget.filter_box_center {
    display: grid;
    align-items: center;
}
.m-b-5 {
    margin-bottom: 5px;
}
div[role="listbox"] > label[role="option"] > span > input[type="checkbox"], li > label[role="option"] > span > input[type="checkbox"] {
    vertical-align: middle;
    margin: 0px;
    width: 14px;
    height: 14px;
}
div.m-b-5 > div.selectBox > div[role="combobox"] > div > div[role="listbox"] > label[role="option"] > span > span , div.selectBox > div[role="combobox"] > div > div[role="listbox"] > ul > li > label[role="option"] > span > span {
    padding: 0px 5px !important;
    font-size: 12px;
}
div.m-b-5 > div.selectBox > div[role="combobox"] > div > div[role="listbox"] > label[role="option"] , div.selectBox > div[role="combobox"] > div > div[role="listbox"] > ul > li > label[role="option"] {
    margin-bottom: 0px;
    height: 32px;
    display: table !important;
    padding-top: 7px !important;
    padding-right: 10px !important;
    padding-bottom: 0px !important;
    padding-left: 10px !important;
    width: 100% !important; 
}
div.m-b-5 > div.selectBox > div[role="combobox"] > div > div[role="listbox"] > div > input[type="text"] {
    height: 100% !important;
    font-size: 12px;
}
div.m-b-5 > div.selectBox > div[role="combobox"] > div {
    height: 31px !important;
}
div.m-b-5 > div.selectBox > div[role="combobox"] > div + div {
    height: 200px !important;
}
div.m-b-5 > div.selectBox > div[role="combobox"] > div > span > span {
    line-height: 28px !important;
}
div.m-b-5 > div.selectBox > div[role="combobox"] > div > div[role="listbox"] > div {
    display:none !important;
    /* padding: 0.2em 0.7em !important;
    height: 30px; */
}
div.m-b-5 > div.selectBox > div[role="combobox"] > div > div[role="listbox"] > div > input[placeholder="Search"] {
    display: none !important;
}
div.ant-select-selection__placeholder {
    left: 3px !important;
}
div.ant-select-selection.ant-select-selection--single {
    height: 31px !important;
}
span.ant-select-tree-switcher.ant-select-tree-switcher_close {
    vertical-align: text-top;
    width: 16px !important;
    height: 16px !important;
    background: url(../images/caret-right.png);
}
span.ant-select-tree-switcher.ant-select-tree-switcher_open {
    vertical-align: text-top;
    width: 16px !important;
    height: 16px !important;
    background: url(../images/caret-down.png);
}
span.ant-select-tree-switcher.ant-select-tree-switcher-noop {
    width: 16px !important;
    height: 16px !important;
}
span.ant-select-tree-switcher.ant-select-tree-switcher_open:after {
    display: none !important;
}
span.ant-select-tree-switcher.ant-select-tree-switcher_close:after {
    display: none !important;
}
div.selectBox > div.Select.Select--multi.is-searchable.has-value >
div.Select-control > span.Select-multi-value-wrapper {
    overflow: auto;
    max-height: 29px;
}
div.selectBox > div.Select.Select--multi.is-searchable.has-value >
div.Select-control > span.Select-multi-value-wrapper > div.Select-value {
    line-height: 15px !important;
    margin-left: 4px !important;
    margin-top: 4px !important;
}
div.selectBox > div.Select.Select--multi.is-searchable.has-value >
div.Select-control > span.Select-multi-value-wrapper > div.Select-input {
    height: 28px;
}
div.selectBox > div.Select.Select--multi.is-searchable.has-value >
div.Select-control > span.Select-multi-value-wrapper > div.Select-input > input[role="combobox"] {
    padding: 1.7px 0.7px;
}
div.selectBox > div.Select.Select--multi.is-focused.is-searchable.has-value >
div.Select-control > span.Select-multi-value-wrapper > div.Select-input {
    padding: 5px 0.7px;
}
div.selectBox > div.Select.Select--multi.is-searchable >
div.Select-control > span.Select-multi-value-wrapper {
    padding-bottom: 1px !important;
}
div.selectBox > div.Select.Select--multi.is-searchable.has-value >
div.Select-control > span.Select-multi-value-wrapper > div.Select-value {
    padding: 1.7px 0.7px !important;
}

/* div.selectBox > div.ant-select.ant-select-enabled.ant-select-allow-clear >
div.ant-select-selection.ant-select-selection--multiple {
    min-height: 31px;
}
div.selectBox > div.ant-select.ant-select-enabled.ant-select-allow-clear >
div.ant-select-selection.ant-select-selection--multiple > div.ant-select-selection__rendered {
    overflow: auto;
    max-height: 29px;
}
div.selectBox > div.ant-select.ant-select-enabled.ant-select-allow-clear >
div.ant-select-selection.ant-select-selection--multiple > div.ant-select-selection__rendered >
ul > li.ant-select-selection__choice {
    margin-top: 4px;
    margin-bottom: 4px;
} */

/* div.selectBox > span.ant-select.ant-select-open.ant-select-focused.ant-select-enabled.ant-select-allow-clear {
    white-space: nowrap;
    overflow: hidden;
    max-height: 50px;
}
div.selectBox > span.ant-select.ant-select-open.ant-select-focused.ant-select-enabled.ant-select-allow-clear >
span[aria-expanded="true"].ant-select-selection.ant-select-selection--multiple {
    overflow: hidden;
    max-height: inherit;
}
div.selectBox > span.ant-select.ant-select-open.ant-select-focused.ant-select-enabled.ant-select-allow-clear >
span[aria-expanded="true"].ant-select-selection.ant-select-selection--multiple > ul.ant-select-selection__rendered {
    white-space: nowrap;
    overflow: hidden;
    max-height: inherit;
}
div.selectBox > span.ant-select.ant-select-enabled.ant-select-allow-clear {
    white-space: nowrap;
    overflow: hidden;
    max-height: 50px;
}
div.selectBox > span.ant-select.ant-select-enabled.ant-select-allow-clear >
span[aria-expanded="false"].ant-select-selection.ant-select-selection--multiple {
    overflow: hidden;
    max-height: inherit;
}
div.selectBox > span.ant-select.ant-select-enabled.ant-select-allow-clear >
span[aria-expanded="false"].ant-select-selection.ant-select-selection--multiple > ul.ant-select-selection__rendered {
    white-space: nowrap;
    overflow: hidden;
    max-height: inherit;
} */
