language: python
dist: trusty

addons:
  postgresql: '9.6'
  apt:
    packages:
      - postgresql-9.6-postgis-2.3

python:
  - '3.5'
  - '3.6'

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y gdal-bin

install:
  - pip install tox tox-travis

before_script:
  - psql -U postgres -c 'CREATE EXTENSION postgis'
  - psql -U postgres -c 'CREATE DATABASE test;'

script:
  - tox

after_success:
  - pip install codecov
  - codecov
