; vim: set fileencoding=utf-8 :
; Hannah Muckenhirn <hannah.muckenhirn@idiap.ch>
; Fri April  1 14:24:21 CEST 2016
;This is the configuration file for buildout.

[buildout]
parts = scripts

eggs = bob.paper.taslp_2017
       bob.db.asvspoof
       bob.db.avspoof
       bob.db.base
       bob.pad.base
       gridtk

extensions = bob.buildout
             mr.developer

auto-checkout = *
develop =        src/bob.db.asvspoof
                 src/bob.db.avspoof
                 src/bob.db.base
                 src/bob.pad.base
                 .
          

;options for bob.buildout
debug = true
verbose = true
newest = false

[sources]
bob.db.asvspoof = git git@gitlab.idiap.ch:bob/bob.db.asvspoof.git
bob.db.avspoof = git git@gitlab.idiap.ch:bob/bob.db.avspoof.git
bob.pad.base = git git@gitlab.idiap.ch:bob/bob.pad.base.git
bob.db.base = ggit git@gitlab.idiap.ch:bob/bob.db.base.git

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
