#attrim-block {
  margin-top: 13px; }
  #attrim-block .class {
    margin-bottom: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid #d7dde4; }
    #attrim-block .class .class-name {
      display: flex;
      margin-bottom: 5px; }
    #attrim-block .class .option-list {
      margin: 0;
      padding-left: 2px; }
      #attrim-block .class .option-list .option {
        margin: 1px 0;
        list-style-type: none; }
        #attrim-block .class .option-list .option .option-label {
          display: flex;
          margin: 0; }
          #attrim-block .class .option-list .option .option-label input {
            margin-right: 6px; }
