QLabel
{
font-family: Times New Roman;
font-size: 14px;
font-style: normal;
color: #404080;
margin-bottom: 8px;
border-radius: 8px;
background: white;
border-color: #FF0000;
border-style: solid;
padding: 4px;
}
