.bigNumberThree {
    width: 100%;
    float: left;
    padding: 20px;
    display: inline-block;
}
.widget-thumb {
    border-radius: 4px;
}
.widget-bg-color-white {
    background: #fff;
}
.margin-bottom-20 {
    margin-bottom: 20px!important;
}

.widget-thumb .widget-thumb-heading {
    font-size: 14px;
    font-weight: 700;
    color: #8e9daa;
    margin: 0 0 20px;
}
h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.widget-thumb .widget-thumb-wrap {
    overflow: hidden;
}
.widget-thumb .widget-thumb-wrap .widget-thumb-icon {
    float: left;
    width: 80px;
    height: 80px;
    display: inline-block;
    font-size: 20px;
    line-height: 41px;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-right: 15px;
}
.bg-green, .bg-hover-green:hover {
    background: #32c5d2!important;
}
[class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], [class*=" icon-"], [class^=fa-]:not(.fa-stack), [class^=glyphicon-], [class^=icon-] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
}
.icon-bulb {
    font-family: Simple-Line-Icons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.widget-thumb .widget-thumb-body {
    overflow: hidden;
}
.widget-thumb .widget-thumb-body .widget-thumb-subtitle {
    padding-top: 2px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #8e9daa;
}
.widget-thumb .widget-thumb-body .widget-thumb-body-stat {
    display: block;
    font-size: 200%;
    font-weight: 600;
    color: #3e4f5e;
}