.dashboard-stat {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    background-color: #4c9eda;
}
.dashboard-stat .visual{
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
}
.dashboard-stat .visual>i {
    margin-left: -35px;
    font-size: 110px;
    line-height: 110px;
    color: #FFF;
    opacity: .1;
    filter: alpha(opacity=10);
}

.dashboard-stat .details {
    position: absolute;
    right: 12%;
    padding-right: 15px;
}
.dashboard-stat .details .number {
    padding-top: 25px;
    text-align: right;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: 300;
    color: #FFF;
}
.dashboard-stat .details .desc {
    text-align: right;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 300;
    color: #FFF;
    opacity: 1;
}
.dashboard-stat .more {
    clear: both;
    display: block;
    padding: 6px 10px;
    position: relative;
    font-weight: 300;
    font-size: 11px;
    opacity: .7;
    filter: alpha(opacity=70);
    color: #FFF;
    background-color: #4490ca;
}

.dashboard-stat .more>i {
    display: inline-block;
    margin-top: 1px;
    float: right;
}
.m-icon-swapright {
    background-position: -27px -10px;
}