.ui-widget-header { border: 1px solid #4297d7; background: #4276a4; color: #ffffff; font-weight: bold; }
.picon{color: #6BA1D1;}
.click{
    background-color: #f36a5a!important;
}
.unclick{
    background-color: transparent !important;

}




