.ui-widget-header { border: 1px solid #364150; background: #364150; color: #ffffff; font-weight: bold; }
#settings{
    color: #79869a;
}
#qrcode{
    color: #79869a;
}
.click{
    background-color: #36c6d3!important;
}
.unclick{
    background-color: transparent !important;

}

