.ui-widget-header { border: 1px solid #707b88; background: #707b88; color: #ffffff; font-weight: bold; }
#settings{
    color: #9fa7b1;
}
#qrcode{
    color: #9fa7b1;
}
.click{
    background-color: #36c6d3 !important;
}
.unclick{
    background-color: transparent !important;

}


