.ui-widget-header { border: 1px solid #eee; background: #fff; color: #ffffff; font-weight: bold; }
#settings{
    color: #bbc1c8;
}
#qrcode{
    color: #bbc1c8;
}
.click{
    background-color: #36c6d3!important;
}
.unclick{
    background-color: transparent !important;

}
