
.ui-widget-header { border: 1px solid#e1e1e1; background: #f6f6f6; color: #ffffff; font-weight: bold; }
#settings{
   color: #AAA;
}
#qrcode{
   color: #AAA;
}
.click{
    background-color: #36c6d3!important;
}
.unclick{
    background-color: transparent !important;

}
