*:focus {
  outline: none; }

.field input:hover {
  border-color: rgba(34, 36, 38, 0.35) !important; }

.field input:focus {
  border-color: #85B7D9 !important; }

.shuup-toolbar form .btn-toolbar .btn-group .btn.btn-success {
  display: none; }

.shuup-toolbar form .btn-toolbar .btn-group .dropdown-toggle.btn-success {
  display: none; }
